#wrap{
    overflow: hidden;
}
.sidebar{
    max-width: 250px;
    min-width: 250px;
    height: 100%;
    z-index: 999;
    transition: all 0.3s;
}

.sidebar-header{
    padding: 0.875rem 1.25rem;
    font-size: 1.2rem;
}

.sidebar-list{
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}